


$highlighter-color = yellow;

@keyframes flash {
    0% {
        /* background: rgb(245, 208, 0); lovely yellow colour */
        background: yellow;
        box-shadow:10px 0 0 var(--highlight-color), -10px 0 0 var(--highlight-color);
        -webkit-box-sizing: border-box;
        font-size: 12em;
        border-radius: 3px;
    }
    100% {
        background: yellow;
        box-shadow:3px 0 0 var(--highlight-color), -4px 0 0 var(--highlight-color);
        font-size: 1em;
        /* padding: 2px 2px; */
        -webkit-box-sizing: border-box;

        border-radius: 3px;
    }
}

.selection {
    --highlight-color: yellow;
    background-color: var(--highlight-color);
    /* font-size: 1em; */
    display: inline;
    box-decoration-break: clone;
    position: relative;

    /* padding: 2px 0px; */
    /* border-radius: 3px; */
    /* box-shadow:0px 0 0 var(--highlight-color), -0px 0 0 var(--highlight-color); */
    /* left: 0px; */
    /* margin-right: 6px; */


    /* -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone; */



    animation: flash 5s;
    color: black;
}


